/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--basic-font-family);
  font-variation-settings: 'whgt' var(--content-weight-title);
  background-image: repeating-linear-gradient(90deg, var(--repeat-radiant-color) 0 2px, transparent 2px 4px),
  repeating-linear-gradient(var(--repeat-radiant-color) 0 2px, transparent 2px 4px),
  linear-gradient(var(--linear-gradient-color-first), #1a1a1a);
  background-size: cover;
  background-attachment: fixed;
  background-color: var(--background-color);
  color: var(--accent-color);
  padding-top: 100px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--fantasy-font-family);
  width: clamp(23.438rem, 16.2859rem + 30.5157vw, 43.75rem);
  border: 2px solid var(--accent-color);
  margin: 0 auto;
  background-color: var(--background-color);
  padding-bottom: 25px;
  margin-bottom: 100px;
}

.header__title {
  font-weight: var(--font-weight-text);
  font-size: clamp(3.063rem, 2.7109rem + 1.5023vw, 4.063rem);
  line-height: clamp(3.063rem, 2.7109rem + 1.5023vw, 4.063rem);
  padding-top: clamp(7.5rem, 7.1479rem + 1.5023vw, 8.5rem);
  padding-bottom: 20px;
}

.header__subtitle {
  font-weight: var(--font-weight-text);
  font-size: clamp(0.875rem, 0.6768rem + 0.8458vw, 1.438rem);
  line-height: clamp(0.875rem, 0.6768rem + 0.8458vw, 1.438rem);
  text-transform: uppercase;
  padding-bottom: 25px;
}

.theme-menu {
  position: relative;
  left: 4px;
}

.theme-menu__list {
  font-weight: var(--font-weight-text);
  font-size: 14px;
  line-height: 14px;

}

.theme-menu__item:not(:last-child) {
  padding-bottom: 13px;
}

.theme-menu__button {
  border: none;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
}

.theme-menu__button:disabled::before {
  content: '▶';
  position: absolute;
  left: -14px;
  animation: moveArrow 0.5s infinite alternate;
  animation-timing-function: ease-in-out;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button:hover {
  opacity: 0.6;
  transition-delay: 0.3s;
}

.theme-menu__button:focus-visible {
  opacity: 0.6;
}

.theme-menu__button::after {
  content: '';
  display: block;
  width: 0%;
  height: 2px;
  margin-top: -1px;
  background-color: currentColor;
  transition: width 0.3s;

}

.theme-menu__button:focus-visible::after {
  width: 100%;
}

.theme-menu__button:focus {
  opacity: 0.6;
  outline: none;
}


.content {
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: clamp(23.438rem, 16.2859rem + 30.5157vw, 43.75rem);
  margin: 0 auto;
  background-color: var(--background-color);
}

.content__block {
  border: 2px solid var(--accent-color);
}

.content__title {
  padding: 3px 10px 3px 10px;
  font-size: 18px;
  font-variation-settings: 'whgt' var(--content-weight-title);
  line-height: 21.78px;
}

.content__image {
  position: relative;
  border-top: 2px solid var(--accent-color);
  border-bottom: 2px solid var(--accent-color);
  max-height: 700px;
}

.decorate__text {
  position: absolute;
  z-index: 1;
  top: 25px;
  right: 4%;
  font-family: var(--fantasy-font-family);
  font-weight: var(--font-weight-text);
  font-size: 14px;
  line-height: 14px;
  mix-blend-mode: hard-light;
  opacity: 50%;
  color: currentColor;
  text-shadow: 1px 1px var(--color-shadow);
}

@supports((text-stroke: 0.5px var(--color-shadow)) or (-webkit-text-stroke: 0.5px var(--color-shadow))) {
  .decorate__text {
      -webkit-text-stroke: 0.5px var(--color-shadow);
      text-stroke: 0.5px var(--color-shadow);
      text-shadow: none;
  }
} 

.image-bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.content__text {
  padding: 25px;
}

.content__text-paragraph {
  font-variation-settings: 'whgt' var(--content-weight-text);
  font-size: 18px;
  line-height: 21px;
}

.content__text p:not(:last-child) {
  padding-bottom: 27px;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 25px 25px 0;
}

.card__icon-button {
  height: 38px;
  border: 2px solid transparent;
  background-color: transparent;
  cursor: pointer;
}

.card__like-button {
  border: 2px solid var(--accent-color);
  background-color: transparent;
  min-width: 130px;
  min-height: 38px;
}

.button__text {
  font-family: var(--fantasy-font-family);
  font-size: 14px;
  line-height: 12.6px;
  mix-blend-mode: difference;
  color: var(--button-color-text);
}
.button__save {
  margin: 0 auto;
  margin-bottom: 100px;
}

.button__floppy-save {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: clamp(19.375rem, 18.7366rem + 2.7238vw, 21.188rem);
  height: calc(8.688rem - clamp(3.438rem, 2.8000rem + 2.7223vw, 5.25rem));
  background-color: transparent;
  border: 2px solid var(--accent-color);
}

@media (width <= 375px) {
  .button__floppy-save {
      flex-direction: column;
  }
}

.button-animation {
  position: relative;
  cursor: pointer;
}

.button-animation:focus {
  outline: none;
  box-shadow: 2px 2px 0 var(--accent-color);
  transition: 0.3s;
}

.button-animation::before {
  content:'';
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	background: var(--accent-color);
	transition: 0.5s ease-in-out;
}

.button-animation:hover::before {
  width: 100%;
}

.floppy-icon {
  mix-blend-mode: difference;
  color: var(--button-color-text);
  width: calc(3.0629999999999997rem - clamp(1.313rem, 1.1591rem + 0.6565vw, 1.75rem));
  height: calc(3.0629999999999997rem - clamp(1.313rem, 1.1591rem + 0.6565vw, 1.75rem));
}

.card__icon-button:focus {
  outline:none;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--accent-color);
  transition: 0.3s ease;
}

.sparks {
  opacity: 0;
}

.core {
  transition: 0.3s linear 0.03s;
}

.like-icon:hover .core {
  transition: 0.3s linear;
  fill: var(--accent-color);
}

.main-body {
  transition: 0.3s linear;
}

.like-icon:hover .main-body {
  transition: 0.5s linear 0.05s;
  fill: var(--accent-color);
}

.like-icon:active .core {
  transition: 0.3s linear;
  fill: var( --hear-filling);
}

.like-icon:active .main-body {
  transition: 0.5s linear 0.05s;
  fill: var( --hear-filling);
}

.like-icon.is-liked .contour {
  transition: 0.3s linear 0.06s;
  fill: var( --hear-filling);
}

.like-icon.is-liked .core {
  transition: 0.3s linear;
  fill: var( --hear-filling);
}

.like-icon.is-liked .main-body {
  transition: 0.5s linear 0.05s;
  fill: var( --hear-filling);
}

.like-icon.is-liked {
  transition: 0.3s;
  animation: hearIncrease 0.3s  0.1s;
  animation-timing-function: ease-in;
}

.is-liked .sparks {
  animation: sparksOpasity 0.3s  0.3s;
  animation-timing-function: ease-in;
}

.floppyDialog {
  display: flex;
  flex-direction: column;
  gap: 30px;
  position: fixed;
  inset: 0;
  color: var(--accent-color);
  background-color: var(--background-color);
  border: 2px solid var(--accent-color);
  padding: 30px;
  width: clamp(21.313rem, 20.9609rem + 1.5023vw, 22.313rem);
}

.floppyDialog::backdrop {
  background-color: black;
  opacity: 75%;
 
}


.floppyDialog > .dialog__content > .floppy-icon {
  flex-shrink: 0;
  width: 39px;
  height: 39px;
}

.dialog__content {
  display: flex;
  align-items: center;
  gap: 20px;
}

.dialog__title {
  font-family: var(--fantasy-font-family);
  font-weight: var(--font-weight-text);
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

.submit__dialog {
  font-family: var(--fantasy-font-family);
  font-weight: var(--font-weight-text);
  font-size: 14px;
  line-height: 12.6px;
  padding: 12.5px 0 12.5px 0;
  border: 2px solid var(--accent-color);
  background-color: transparent;
  text-transform: uppercase;
}

dialog:not([open]) {
  pointer-events: none;
  opacity: 0;
} 

.brightness-image {
  filter: brightness(200%);
}

.contrast-image {
  filter: contrast(50%);
}

.blur-image {
  filter: blur(2rem);
}

.opacity-image {
  filter: opacity(0.5);
}

.grayscale-image {
  filter: grayscale(0.5);
}

.image-saturate {
  filter: saturate(170%);
}

.image-sepia {
  filter: sepia(80%);
}

.many-filters {
  filter: brightness(150%) opacity(0.9) grayscale(0.8) hue-rotate(90deg);
}